<mat-form-field>

  <input  matInput (keyup)="applyFilter($event.target.value)"
  placeholder="Filter">
</mat-form-field>

<div style="overflow:auto;">
<div class="mat-elevation-z8">

  <mat-table [dataSource]="listData" matSort>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns:displayedColumns;"></mat-row>

    <ng-container matColumnDef="Options">
      <mat-header-cell *matHeaderCellDef>Options</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="onEdit(row)">
          <mat-icon>launch</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="onDelete(row.departmentID)">
          <mat-icon>delete_outline</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="DepartmentID">
      <mat-header-cell *matHeaderCellDef mat-sort-header>DepartmentID</mat-header-cell>
      <mat-header-cell *matCellDef="let element">{{element.departmentID}}</mat-header-cell>
    </ng-container>

    <ng-container matColumnDef="DepartmentName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>DepartmentName</mat-header-cell>
      <mat-header-cell *matCellDef="let element">{{element.departmentName}}</mat-header-cell>
    </ng-container>

  </mat-table>
</div>
</div>
<button class="mt-2" mat-raised-button (click)="onAdd()" color="primary">Add Department</button>